.App {

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas:
    "a b b ";
  background-color: #F3A3B1;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo{
  height: 7vmin;
  pointer-events: none;
  grid-area: a;
}

.App-avatar{
  height: 15vmin;
  pointer-events: none;
  grid-area: a;
}

#wlc{
  grid-area: b;
}

.App-link {
  color: #F199B6;
}
.Sidebar {
  margin-top: 2%;
  margin-left: 50px;
}

#link{
  font-size: 18px;
  color: #4D4145;
}

.main{
  margin-left: 20%;
  margin-top: -3%;
}

#title{
  font-size: 20px;
  color: #4D4145;
}
#aboutDesc{
  margin-left: 17%;
  margin-top: -8%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
